@model IEnumerable<WebApplication6.Models.InventoryNotOnFitzMall_USED_Report>

@{
    ViewBag.Title = "FitzMall.com SBOF Report USED";
    String prevStoreBranch = "";
    String prevLocation = "";
    long total_ShouldBeOnWebSite_1 = 0;
    long total_ShouldBeOnWebSite_2 = 0;

    long total_ActuallyOnWebSite_1 = 0;
    long total_ActuallyOnWebSite_2 = 0;

    long total_ShouldBeOnWebSite = 0;
    long total_ActuallyOnWebSite = 0;

}
<link href="\Content\tableStyle.css" rel="stylesheet" type="text/css">
<link href="\Content\Site.css" rel="stylesheet" type="text/css">

<h2>USED FitzMall.com SBOF Report @DateTime.Now.ToShortDateString()</h2>
<li>@Html.ActionLink("Interactive Mode", "InventoryNotOnFitzMall_USEDReport", "InventoryNotOnFitzMall_USED_Report")</li>

<table class="table">
    <thead>
        <tr>
            <th colspan="2" scope="colgroup"></th>
            <th colspan="3" scope="colgroup">Used Vehicles On FitzMall</th>
            <th colspan="3" scope="colgroup">Used Vehicles That Should Be On FitzMall</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Store/Branch
            </th>
            <th>
                Location
            </th>
            <th>
                1
            </th>
            <th>
                2
            </th>

            <th>
                Totals
            </th>

            <th>
                1
            </th>
            <th>
                2
            </th>
            <th>
                Totals
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{if (prevStoreBranch != item.STOREBRANCH)
                        {
                            @Html.DisplayFor(modelItem => item.STOREBRANCH)
                        }
                        prevStoreBranch = item.STOREBRANCH;
                    }
                </td>
                <td>

                    @{if (prevLocation != item.LOCATION)
                        {
                            @Html.DisplayFor(modelItem => item.LOCATION)
                        }
                        prevLocation = item.LOCATION;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_1.Value)


                    @{
                        total_ActuallyOnWebSite_1 += item.ActuallyOnWebSite_1.Value;
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_2.Value)

                    @{
                        total_ActuallyOnWebSite_2 += item.ActuallyOnWebSite_2.Value;
                    }
                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_TotalAllCarStat.Value)

                    @{
                        total_ActuallyOnWebSite += item.ActuallyOnWebSite_TotalAllCarStat.Value;
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_1.Value)

                    @{
                        total_ShouldBeOnWebSite_1 += item.ShouldBeOnWebSite_1.Value;
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_2.Value)

                    @{
                        total_ShouldBeOnWebSite_2 += item.ShouldBeOnWebSite_2.Value;
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FM_TotalAllCarStat.Value)

                    @{
                        total_ShouldBeOnWebSite += item.FM_TotalAllCarStat.Value;
                    }

                </td>
            </tr>
        }


        <tr>
            <td></td>
            <td></td>
            <td>
                @total_ActuallyOnWebSite_1
            </td>
            <td>
                @total_ActuallyOnWebSite_2

            </td>
            <td>
                @total_ActuallyOnWebSite
            </td>
            <td>
                @total_ShouldBeOnWebSite_1

            </td>
            <td>
                @total_ShouldBeOnWebSite_2
            </td>
            <td>
                @total_ShouldBeOnWebSite
            </td>

        </tr>

</table>
