@model WebApplication6.Models.ReportInventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NEWUSED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NEWUSED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOREBRANCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOREBRANCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAKE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAKE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarStat1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarStat1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarStat2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarStat2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarStat4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarStat4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarStat9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarStat9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarStat12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarStat12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarStat14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarStat14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAllCarStat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAllCarStat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Primary }) |
    @Html.ActionLink("Back to List", "Index")
</p>
