@model IEnumerable<WebApplication6.Models.Inventory>

@{
    string headervalue1 = " ";
    ViewBag.Title = "DrillDown";
    foreach (var item in Model)
    {
        headervalue1 = item.STORE_BRANCH.Trim() + " " + item.MAKE.Trim() + " Status " + item.STAT_CODE;
        break;
    }
}
<link href="\Content\tableStyle.css" rel="stylesheet" type="text/css">

<h2> Details: @headervalue1</h2>

<table class="table" width=30 % height=30 align=left >
    
    <tr>
        <th>
        </th>
        <th>
            Store/Branch
        </th>
        <th>
            Serial #
        </th>
        <th>
            Stock #
        </th>
        <th>
            Order #
        </th>
        <th>
            Year
        </th>
        <th>
            Make
        </th>
        <th> </th>
        <th>
            Model
        </th>
        <th>
            Line
        </th>
        <th>
        </th>
        <th>
            Description
        </th>
        <th>
            Date Received
        </th>
        <th>
            Days in Stock
        </th>
        <th>
            MSRP
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BASE_MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVOICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVEN_AMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTERNET_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODED_COST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FREIGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAT_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS_LOG_DATE_DR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS_LOG_DR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ODOM_READING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXT_COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXT_CLR_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INT_COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INT_CLR_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEMO1_CAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEMO2_CAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPG_LOW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPG_HIGH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUEL_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BODYSIZE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BODYSIZE_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORD_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORD_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KEY_NO_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KEY_NO_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCENT_CLR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BEST_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BODY_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUILD_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUILD_NAME_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARLINE_CODE_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHASSIS_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHASSIS_NO_DR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLR_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLR_CODE_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLR_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLR_DESC_41)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLR_GENERIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COST_PACK_LB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_DATE_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_ADDED_DR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_SOLD_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAYS_IN_STK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEMO_DATE_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEMO_MIL_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLR_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLR_NO_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLR_NO_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DRIVE_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_ARRIVAL_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXT_CLR_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HBK_AMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IN_STOCK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INT_CLR_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INV_AMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INV_AMT_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INV_AMT_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JRNL_PURCH_DATE_DR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KEYCHIP_NO_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KEYLESS_NO_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LABEL_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAINT_CODE_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDL_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDL_NO_10)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id_Primary })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STORE_BRANCH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SERIAL_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STOCK_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORDER_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKE_PREFIX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACCOUNTING_MAKE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CARLINE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CARLINE_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RECEIVED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DAYS_IN_STOCK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BASE_MSRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INVOICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INVEN_AMT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INTERNET_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODED_COST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FREIGHT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STAT_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS_LOG_DATE_DR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS_LOG_DR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ODOM_READING)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXT_COLOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXT_CLR_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INT_COLOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INT_CLR_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MEMO1_CAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MEMO2_CAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPG_LOW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPG_HIGH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FUEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FUEL_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BODYSIZE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BODYSIZE_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORD_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORD_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KEY_NO_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KEY_NO_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACCENT_CLR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BEST_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BODY_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BUILD_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BUILD_NAME_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CARLINE_CODE_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHASSIS_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHASSIS_NO_DR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLR_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLR_CODE_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLR_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLR_DESC_41)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLR_GENERIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COST_PACK_LB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_DATE_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATED_BY_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_ADDED_DR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_SOLD_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DAYS_IN_STK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEMO_DATE_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEMO_MIL_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DLR_FLAG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DLR_NO_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DLR_NO_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DRIVE_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENG_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EST_ARRIVAL_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXT_CLR_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HBK_AMT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IN_STOCK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INT_CLR_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INV_AMT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INV_AMT_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INV_AMT_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JRNL_PURCH_DATE_DR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KEYCHIP_NO_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KEYLESS_NO_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LABEL_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAINT_CODE_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MDL_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MDL_NO_10)
            </td>
        </tr>

    }



</table>
