@model IEnumerable<WebApplication6.Models.InventoryNotOnFitzMall_Report>

@{
    ViewBag.Title = "NEW FitzMall.com SBOF Report";
    String prevStoreBranch = "";
    String prevLocation = "";
    long total_ShouldBeOnWebSite_1 = 0;
    long total_ShouldBeOnWebSite_2 = 0;
    long total_ShouldBeOnWebSite_4 = 0;
    long total_ShouldBeOnWebSite_9 = 0;
    long total_ShouldBeOnWebSite_12 = 0;
    long total_ShouldBeOnWebSite_14 = 0;

    long total_ActuallyOnWebSite_1 = 0;
    long total_ActuallyOnWebSite_2 = 0;
    long total_ActuallyOnWebSite_4 = 0;
    long total_ActuallyOnWebSite_9 = 0;
    long total_ActuallyOnWebSite_12 = 0;
    long total_ActuallyOnWebSite_14 = 0;

    long total_ShouldBeOnWebSite = 0;
    long total_ActuallyOnWebSite = 0;
    bool bPrintFormat = true;

}

<link href="\Content\Site.css" rel="stylesheet" type="text/css">
<link href="\Content\tableStyle.css" rel="stylesheet" type="text/css">

<h2>NEW FitzMall.com SBOF Report  @DateTime.Now.ToShortDateString()</h2>

<table class="table" style="position: sticky; top: 80px" id="reportheaders">
    <thead class="thead">


        <tr>
            <th colspan="10" scope="colgroup" style="border-right-width: 4px">New Vehicles On FitzMall</th>
            <th colspan="8" scope="colgroup">New Vehicles That Should Be On FitzMall</th>
        </tr>

        <tr>
            <th colspan="3" scope="colgroup"></th>
            <th colspan="3" scope="colgroup" style="border-right-width: 4px">On The Ground</th>
            <th colspan="3" scope="colgroup">On Order</th>
            <th colspan="1" scope="colgroup" style="border-right-width: 4px"></th>
            <th colspan="3" scope="colgroup" style="border-right-width: 4px">On The Ground</th>
            <th colspan="3" scope="colgroup">On Order</th>
            <th colspan="1" scope="colgroup"></th>
        </tr>
        <tr style="font-size: 90%">
            <th style="width: 75px; font-size: 95%">
                Store/Branch
            </th>
            <th style="width: 75px; font-size: 95%">
                Location
            </th>
            <th style="width: 102px; font-size: 95%">
                Make
            </th>
            <th style="width: 58px">
                1
            </th>
            <th style="width: 50px">
                2
            </th>
            <th style="width: 50px; border-right-width: 4px">
                4
            </th>
            <th style="width: 50px">
                9
            </th>
            <th style="width: 50px">
                12
            </th>
            <th style="width: 50px">
                14
            </th>

            <th style="width: 50px; border-right-width: 4px; font-size:90%">
                Total
            </th>

            <th style="width: 50px">
                1
            </th>
            <th style="width: 50px">
                2
            </th>
            <th style="width: 50px; border-right-width: 4px">
                4
            </th>
            <th style="width: 50px">
                9
            </th>
            <th style="width: 50px">
                12
            </th>
            <th style="width: 50px">
                14
            </th>
            <th style="width: 50px; font-size: 90%">
                Total
            </th>
        </tr>
    </thead>
</table>

<table class="table" style="font-size: 90%">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="width: 90px">
                @{if (prevStoreBranch != item.STOREBRANCH)
                    {
                        @Html.DisplayFor(modelItem => item.STOREBRANCH)
                    }
                    prevStoreBranch = item.STOREBRANCH;
                }
            </td>
            <td style="width: 75px">

                @{if (prevLocation != item.LOCATION)
                    {
                        @Html.DisplayFor(modelItem => item.LOCATION)
                    }

                    prevLocation = item.LOCATION;
                }
            </td>
            <td style="width: 100px">
                @Html.DisplayFor(modelItem => item.MAKE)
            </td>
            <td style="width: 50px">

                @{ if ((item.ActuallyOnWebSite_1.Value == 0) ^ (bPrintFormat == false))
                    {
                        @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_1.Value)
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ActuallyOnWebSite_1.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "1", OnFitzMall = "1" })
                    }
                }


                @{
                    total_ActuallyOnWebSite_1 += item.ActuallyOnWebSite_1.Value;
                }

            </td>
            <td style="width: 50px">
                @{ if (item.ActuallyOnWebSite_2.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_2.Value)
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ActuallyOnWebSite_2.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "2", OnFitzMall = "1" })
                    }
                }

                @{
                    total_ActuallyOnWebSite_2 += item.ActuallyOnWebSite_2.Value;
                }
            </td>
            <td style="width: 50px; border-right-width: 4px">
                @{ if (item.ActuallyOnWebSite_4.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_4.Value)
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ActuallyOnWebSite_4.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "4", OnFitzMall = "1" })
                    }
                }

                @{
                    total_ActuallyOnWebSite_4 += item.ActuallyOnWebSite_4.Value;
                }
            </td>
            <td style="width: 50px">
                @{ if (item.ActuallyOnWebSite_9.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_9.Value)
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ActuallyOnWebSite_9.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "9", OnFitzMall = "1" })
                    }
                }

                @{
                    total_ActuallyOnWebSite_9 += item.ActuallyOnWebSite_9.Value;
                }
            </td>
            <td style="width: 50px">
                @{ if (item.ActuallyOnWebSite_12.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_12.Value)
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ActuallyOnWebSite_12.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "12", OnFitzMall = "1" })
                    }
                }

                @{
                    total_ActuallyOnWebSite_12 += item.ActuallyOnWebSite_12.Value;
                }
            </td>
            <td style="width: 50px">
                @{ if (item.ActuallyOnWebSite_14.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_14.Value)
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ActuallyOnWebSite_14.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "14", OnFitzMall = "1" })
                    }
                }

                @{
                    total_ActuallyOnWebSite_14 += item.ActuallyOnWebSite_14.Value;
                }
            </td>
            <td style="width: 50px; border-right-width: 4px">

                @{ if (item.ActuallyOnWebSite_TotalAllCarStat.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ActuallyOnWebSite_TotalAllCarStat.Value)
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ActuallyOnWebSite_TotalAllCarStat.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "0", OnFitzMall = "1" })
                    }
                }



            </td>
            <td style="width: 50px">
                @{ if (item.ShouldBeOnWebSite_1.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_1.Value);
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ShouldBeOnWebSite_1.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "1" })
                    }
                }


                @{
                    total_ShouldBeOnWebSite_1 += item.ShouldBeOnWebSite_1.Value;
                }

            </td>
            <td style="width: 50px">
                @{ if (item.ShouldBeOnWebSite_2.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_2.Value);
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ShouldBeOnWebSite_2.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "2" })
                    }
                }

                @{
                    total_ShouldBeOnWebSite_2 += item.ShouldBeOnWebSite_2.Value;
                }
            </td>
            <td style="width: 50px; border-right-width: 4px">
                
                @{ if (item.ShouldBeOnWebSite_4.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_4.Value);
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ShouldBeOnWebSite_4.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "4" })
                    }
                }

                @{
                    total_ShouldBeOnWebSite_4 += item.ShouldBeOnWebSite_4.Value;
                }
            </td>
            <td style="width: 50px">
                @{ if (item.ShouldBeOnWebSite_9.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_9.Value);
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ShouldBeOnWebSite_9.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "9" })
                    }
                }
                @{
                    total_ShouldBeOnWebSite_9 += item.ShouldBeOnWebSite_9.Value;
                }
            </td>
            <td style="width: 50px">
                @{ if (item.ShouldBeOnWebSite_12.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_12.Value);
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ShouldBeOnWebSite_12.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "12" })
                    }
                }
                @{
                    total_ShouldBeOnWebSite_12 += item.ShouldBeOnWebSite_12.Value;
                }
            </td>
            <td style="width: 50px">
                @{ if (item.ShouldBeOnWebSite_14.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.ShouldBeOnWebSite_14.Value);
                    }
                    else
                    {
                        @Html.ActionLink("" + item.ShouldBeOnWebSite_14.Value, "DrillDown", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, StatusCode = "14" })
                    }
                }
                @{
                    total_ShouldBeOnWebSite_14 += item.ShouldBeOnWebSite_14.Value;
                }
            </td>
            <td style="width: 50px">
                @{ if (item.FM_TotalAllCarStat.Value == 0)
                    {
                        @Html.DisplayFor(modelItem => item.FM_TotalAllCarStat.Value);
                    }
                    else
                    {
                        @Html.ActionLink("" + item.FM_TotalAllCarStat.Value, "DrillDown_AllStatusNew", new { StoreBranch = item.STOREBRANCH, Location = item.LOCATION, Make = item.MAKE, OnFitzMall = "0" })
                    }
                }


                @{
                    total_ShouldBeOnWebSite += item.FM_TotalAllCarStat.Value;
                }



            </td>
            @{
                total_ActuallyOnWebSite += Convert.ToInt32(item.ActuallyOnWebSite_TotalAllCarStat);
            }
        </tr>

        }


        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="width: 50px">
                @Html.ActionLink("" + (total_ActuallyOnWebSite_1), "DrillDown_AllLocationsNew", new { StoreBranch = "", Make = "", StatusCode = "1", OnFitzMall = "1" })

            </td>
            <td style="width: 50px">
                @Html.ActionLink("" + total_ActuallyOnWebSite_2, "DrillDown_AllLocationsNew", new { Make = "", StatusCode = "2", OnFitzMall = "1" })

            </td>

            <td style="width: 50px; border-right-width: 4px">
                @Html.ActionLink("" + total_ActuallyOnWebSite_4, "DrillDown_AllLocationsNew", new { StoreBranch = "", Make = "", StatusCode = "4", OnFitzMall = "1" })
            </td>

            <td style="width: 50px">
                @Html.ActionLink("" + total_ActuallyOnWebSite_9, "DrillDown_AllLocationsNew", new { StoreBranch = "", Make = "", StatusCode = "9", OnFitzMall = "1" })
            </td>
            <td style="width: 50px">
                @Html.ActionLink("" + total_ActuallyOnWebSite_12, "DrillDown_AllLocationsNew", new { StoreBranch = "", Make = "", StatusCode = "12", OnFitzMall = "1" })
            </td>
            <td style="width: 50px">
                @Html.ActionLink("" + total_ActuallyOnWebSite_14, "DrillDown_AllLocationsNew", new { StoreBranch = "", Make = "", StatusCode = "14", OnFitzMall = "1" })
            </td>
            <td style="border-right-width: 4px">
                @Html.ActionLink("" + total_ActuallyOnWebSite, "DrillDown_AllLocationsNew", new { StoreBranch = "", Make = "", StatusCode = "ALL", OnFitzMall = "1" })
            </td>
            <td style="width: 50px">
                @Html.ActionLink("" + (total_ShouldBeOnWebSite_1), "DrillDown_AllLocationsNew", new { Make = "", StatusCode = "1", OnFitzMall = "" })

            </td>
            <td style="width: 50px">
                @Html.ActionLink("" + (total_ShouldBeOnWebSite_2), "DrillDown_AllLocationsNew", new { Make = "", StatusCode = "2", OnFitzMall = "" })
            </td>

            <td style="width: 50px">
                @Html.ActionLink("" + (total_ShouldBeOnWebSite_4), "DrillDown_AllLocationsNew", new { Make = "", StatusCode = "4", OnFitzMall = "" })
            </td>

            <td style="width: 50px">
                @Html.ActionLink("" + (total_ShouldBeOnWebSite_9), "DrillDown_AllLocationsNew", new { Make = "", StatusCode = "9", OnFitzMall = "" })
            </td>

            <td style="width: 50px">
                @Html.ActionLink("" + (total_ShouldBeOnWebSite_12), "DrillDown_AllLocationsNew", new { Make = "", StatusCode = "12", OnFitzMall = "" })
            </td>
            <td style="width: 50px">
                @Html.ActionLink("" + (total_ShouldBeOnWebSite_14), "DrillDown_AllLocationsNew", new { Make = "", StatusCode = "14", OnFitzMall = "" })
            </td>
            <td style="width: 50px">
                @Html.ActionLink("" + (total_ShouldBeOnWebSite), "DrillDown_AllStatusNew", new { StoreBranch = "", Make = "", StatusCode = "ALL", OnFitzMall = "" })
            </td>

        </tr>

</table>
